:root {
  --dark-color: #34353A;
  --light-dark-color: #3D3E42;
  --Primary-color: #FFC86B;
  --titles_color: #e84242;
  --work_area_color: #FFE569;
  --Navbar_tab_color: #00ebff;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--dark-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

header nav {
  background-color: var(--dark-color);
  padding: 10px 0px;
  border-bottom: 2px solid var(--Primary-color);
}

header nav .navbar_h1 {
  color: white;
  transition: all 0.2s ease-in-out 0s;
  user-select: none;
}

header nav .navbar_h1:hover {
  color: var(--Primary-color);
  transition: all 0.2s ease-in-out 0s;
}

nav ul .nav-item {
  margin: 0px 20px;
}

nav ul li .nav-link {
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out 0s;
  color: white !important;
}

.nav-link:hover {
  transition: all 0.4s ease-in-out 0s;
  color: var(--Primary-color) !important;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: var(--Primary-color);
  transition: width 0.3s ease 0s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s ease 0s;
}

.hero-section {
  background-color: var(--dark-color);
  margin-top: 65px;
  padding-top: 65px;
  padding-bottom: 46px;
}

.hero-section .hero_image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
  display: block;
  border: 2px solid var(--Primary-color);
  transition: all 0.4s ease-in-out 0s;
}

.hero-section:hover .hero_image img {
  transition: all 0.4s ease-in-out 0s;
  box-shadow: rgba(255, 200, 107, 0.3) 0px 0px 91px 16px;
}

.hero-section .hero_description {
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.hero-section .hero_description h2 {
  color: white;
  font-size: 32px;
}

.hero-section .hero_description h2 span {
  color: var(--Primary-color);
  font-size: 45px;
}

.hero-section .hero_description h3 {
  color: white;
  font-size: 32px;
}

.hero-section .hero_description p {
  margin: 20px 0px 0px;
}

.hero-section .hero_description a {
  background-color: transparent;
  color: var(--Primary-color);
  border: 2px solid var(--Primary-color);
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
  transition: all 0.3s ease-in-out 0s;
}

.hero-section .hero_description a:hover {
  background-color: var(--Primary-color);
  color: var(--dark-color);
  transition: all 0.3s ease-in-out 0s;
}

.hero_bar {
  background-color: var(--Primary-color);
  padding: 10px 0px;
}

.hero_bar .text_area {
  display: flex;
  justify-content: space-around;
}

.hero_bar .text_area .inner_area {
  display: flex;
  align-items: center;
  color: white;
}

.hero_bar .text_area .inner_area h3 {
  font-size: 70px;
  font-family: "Archivo Black", sans-serif;
}

.hero_bar .text_area .inner_area p {
  font-size: 15px;
  padding-left: 6px;
  text-transform: uppercase;
}

.hero_bar .images_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero_bar .images_area img {
  width: 82px;
}

.about_section {
  color: white;
  padding: 70px 0px;
}

.about_section h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about_section h3::after {
  content: "";
  width: 10%;
  background-color: var(--Primary-color);
  height: 2px;
  display: block;
}

.about_section p {
  font-size: 18px;
  text-align: justify;
  margin: 10px 0px;
  line-height: 2;
}

.about_section p span {
  color: var(--Primary-color);
}

.experience_section {
  background-color: var(--light-dark-color);
  color: white;
}

.experience_section .row {
  transition:0.3s ease-in-out;
  padding: 50px 10px;
  border-bottom: 2px solid rgb(93, 93, 93);
  margin: 20px 0px;
}

.experience_section .container > h3 {
  font-size: 40px;
  position: relative;
  top: -24px;
}

.experience_section .container > h3::after {
  content: "";
  width: 10%;
  background-color: var(--Primary-color);
  height: 2px;
  display: block;
}

.experience_section .exp_years {
  text-align: center;
}

.experience_section .exp_years h3 {
  font-size: 30px;
}

.experience_section .exp_years p {
  font-size: 20px;
}

.experience_section .exp_description .exp_circle {
  background-color: rgb(187, 148, 81);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: -29px;
  left: -31px;
  transition:0.3s ease-in-out;
}

.experience_section .row:hover {
  box-shadow: rgba(255, 200, 107, 0.3) 0px 5px 21px 7px;
  transition:0.3s ease-in-out;
}

.experience_section .row:hover .exp_circle {
  box-shadow: rgba(255, 200, 107, 0.3) 0px 5px 21px 7px;
  background-color: var(--Primary-color);
  transition:0.3s ease-in-out;
}

.experience_section .exp_description {
  border-left: 2px solid white;
  padding-left: 20px;
}

.experience_section .exp_description p {
  padding: 10px 0px;
  position: relative;
  top: -30px;
  text-align: justify;
  font-size: 18px;
  line-height: 2;
}

main {
  background: rgb(228, 242, 254);
}

section .flex_container {
  display: flex;
  padding: 72px;
}

section .flex_container .flex_left {
  text-align: right;
  width: 15%;
}

section .flex_container .flex_left h2 {
  font-size: 34px;
  color: var(--Primary-color);
}

section .flex_container .flex_right {
  padding-left: 58px;
  border-left: 4px solid var(--Primary-color);
  margin-left: 37px;
  width: 85%;
}

#about .flex_container .flex_right > p {
  padding: 10px 0px;
  font-size: 16px;
}

.work_grid {
  display: grid;
  grid-template: "grid_1 grid_1" 1fr "grid_2 grid_3" 1fr "grid_4 grid_5" 1fr / 1fr 1fr;
  gap: 10px;
}

.work_grid .grid_1 {
  grid-area: grid_1 / grid_1 / grid_1 / grid_1;
}

.work_grid .grid_2 {
  grid-area: grid_2 / grid_2 / grid_2 / grid_2;
}

.work_grid .grid_3 {
  grid-area: grid_3 / grid_3 / grid_3 / grid_3;
}

.work_grid .grid_4 {
  grid-area: grid_4 / grid_4 / grid_4 / grid_4;
}

.work_grid .grid_5 {
  grid-area: grid_5 / grid_5 / grid_5 / grid_5;
}

.work_grid .grid_column .grid_Card {
  width: 100%;
  height: 300px;
  border: 5px solid var(--work_area_color);
  overflow: hidden;
  position: relative;
}

.work_grid .grid_column .grid_Card img {
  width: 100%;
}

.work_grid .grid_column .grid_bio {
  position: absolute;
  color: black;
  background-color: var(--work_area_color);
  top: 65%;
  padding: 10px 25px 10px 30px;
  border-top-right-radius: 25px;
}

.work_grid .grid_column .grid_bio h4 {
  font-size: 18px;
}

.work_grid .grid_column .grid_bio p {
  font-size: 14px;
  padding: 0px;
}

#contact_me .flex_right ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

#contact_me .flex_right ul li {
  margin: 10px;
}

#contact_me .flex_right ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#contact_me .flex_right ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--Primary-color);
}

@media screen and (max-width: 1200px) {
  section .flex_container {
      flex-wrap: wrap;
      padding: 20px 50px;
  }

  section .flex_container .flex_left {
      text-align: left;
      width: 100%;
      margin-bottom: 20px;
  }

  .flex_left h2 > br {
      display: none;
  }

  section .flex_container .flex_right {
      padding-left: 0px;
      border-top: 4px solid var(--Primary-color);
      border-left: none;
      margin-left: 0px;
      width: 100%;
      padding-top: 10px;
  }

  .hero_bar .images_area img {
      width: 82px;
  }

  .hero_bar .text_area .inner_area h3 {
      font-size: 65px;
  }
}

@media screen and (max-width: 992px) {
  header nav .navbar_h1 {
      display: inline-block;
      width: 70%;
      text-align: left;
  }

  nav .container {
      padding: 5px 10px;
  }

  .navbar-toggler {
      color: var(--Primary-color);
      border-color: transparent;
  }

  .navbar-light .navbar-toggler-icon {
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(329deg) brightness(106%) contrast(101%);
  }

  .navbar-light .navbar-toggler {
      color: transparent;
      border: 1px solid white;
  }

  .navbar-light .navbar-toggler:focus .navbar-toggler-icon {
      filter: invert(97%) sepia(17%) saturate(4522%) hue-rotate(308deg) brightness(100%) contrast(102%);
  }

  .navbar-light .navbar-toggler:focus {
      border: 1px solid var(--Primary-color);
  }

  nav ul {
      padding-top: 20px;
  }

  nav ul li .nav-link {
      text-align: center;
  }

  nav ul li .nav-link::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: rgb(228, 242, 254);
  }

  nav ul li .nav-link:hover::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--Primary-color);
  }

  .hero-section .hero_image img {
      width: 250px;
      height: 250px;
  }

  .hero-section .hero_description h2 {
      font-size: 30px;
  }

  .hero-section .hero_description h2 span {
      color: var(--Primary-color);
      font-size: 40px;
  }

  .hero-section .hero_description h3 {
      font-size: 30px;
  }

  .hero-section .hero_description p {
      margin: 20px 0px 0px;
  }

  .experience_section .exp_years {
      margin-bottom: 57px;
      text-align: left;
  }

  .experience_section .row {
      padding: 20px;
  }

  .text_area {
      padding-bottom: 1px;
      border-bottom: 2px solid var(--dark-color);
      margin-bottom: 10px;
  }

  section .flex_container {
      padding: 15px;
  }

  section .hero_article h2 {
      text-align: center;
      display: block;
  }

  section .hero_article img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      position: relative;
      display: block;
      margin: 0px auto 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
      margin-top: 65px;
      padding-top: 20px;
      padding-bottom: 46px;
  }

  .hero-section .hero_image img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      margin: auto;
      display: block;
  }

  .hero-section .hero_description {
      text-align: center;
      margin-top: 20px;
  }

  .hero-section .hero_description h2 {
      font-size: 25px;
  }

  .hero-section .hero_description h2 span {
      font-size: 30px;
  }

  .hero-section .hero_description h3 {
      font-size: 25px;
  }

  .hero-section .hero_description p {
      margin: 20px 0px 0px;
  }

  .hero-section .hero_description a {
      font-size: 18px;
  }

  .hero_bar .images_area {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  .hero_bar .images_area img {
      margin: 10px;
      width: 53px;
  }

  .work_grid {
      grid-template: "grid_1" 1fr "grid_2" 1fr "grid_3" 1fr "grid_4" 1fr "grid_5" 1fr / 1fr;
      gap: 20px;
  }

  #contact_me .flex_right ul {
      display: inline-block;
      margin: 0px;
      padding: 0px;
  }

  #contact_me .flex_right ul li {
      margin: 20px 0px;
  }

  #contact_me .flex_right ul li a {
      text-decoration: none;
      color: black;
      font-size: 20px;
  }

  #contact_me .flex_right ul li a::after {
      content: "";
      display: block;
      width: 25%;
      height: 3px;
      background-color: black;
      transition: width 0.3s ease 0s;
  }

  #contact_me .flex_right ul li a:hover {
      color: var(--Primary-color);
      transition: all 0.4s ease-in-out 0s;
  }

  #contact_me .flex_right ul li a:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--Primary-color);
      transition: width 0.3s ease 0s;
  }
}

@media screen and (max-width: 567px) {
  header h1 {
      font-size: 30px;
  }

  nav ul li {
      margin: 0px;
  }

  nav ul li .nav_item {
      font-size: 18px;
  }

  section .hero_article img {
      width: 200px;
      height: 200px;
  }

  section .hero_article h2 {
      font-size: 20px;
  }

  .hero_bar .text_area .inner_area h3 {
      font-size: 54px;
  }

  .hero_bar .text_area .inner_area p {
      font-size: 14px;
  }

  section .flex_container .flex_left h2 {
      font-size: 30px;
  }

  #contact_me .flex_right ul li a {
      font-size: 18px;
  }
}
